<div class="Profile">
  <div class="Profile__sidebar">
  <div class="Avatar">
    <img src="{{ user.avatarURL }}" class="Profile__avatar" alt="{{ user.name }}">
  </div>
</div>
<div class="Profile__container">
    <div>{{user.name}}</div>
    <div>{{user.genre}}</div>
    <div>{{user.weight}}</div>
    <div> {{user.city}}</div>
    <div>{{ user.hobbies }}</div>
    
  </div>
  
  