<div class="Profile ProfileWall">
  <div class="MainTitle">
    <h1>
      {{ user.name }}
    </h1>
  </div>
  <div class="Profile__content">
    <div class="Profile__sidebar">
      <div class="Avatar">
        <img src="{{ user.avatarURL }}" class="Profile__avatar" alt="{{ user.name }}">
      </div>
        <div class="UserData">
          <div class="UserDataItem"><strong>Nombre: </strong> {{user.name}}</div>
          <div class="UserDataItem"><strong>Sexo: </strong> {{user.genre}}</div>
          <div class="UserDataItem"><strong>Peso: </strong> {{user.weight}}</div>
          <div class="UserDataItem"><strong>Ciudad: </strong> {{user.city}}</div>
          <div class="UserDataItem"><strong>Hobbies: </strong> 
            <ul class="UserDataItem__list">
              {{#each user.hobbies}}
                <li class="UserDataItem__list-item">
                  <i class="fas fa-check"></i>
                  {{this}}
                  </li>
              {{/each}}
            </ul>
          </div>
        </div>
    </div>
    <div class="Profile__container">
      {{#if user.description}}
      <div class="Profile__container-title">¡Así soy yo!</div>
      <div class="Description">{{user.description}}</div>
      {{/if}}
      <div class="Profile__container-title">Tus últimos paseos</div>
      <div class="map-container" id="map"></div>


      <!--start comments-->
      <div class="Comments">
        <form action="/users/comments" method="POST">
        <input type="hidden" name="owner" value="{{user.id}}">
          <div class="form-group">
          <label class="Profile__container-title">Comentarios</label>
          <textarea class="form-control {{#if errors.content }}is-invalid{{/if}}"
            name="content">{{comment.content}}</textarea>
        
          {{#if errors.content }}
          <div class="invalid-feedback">
            {{errors.content}}
          </div>
          {{/if}}
        </div>
          <div class="d-flex">
          <button type="submit" class="ButtonSubmit btn btn-primary mr-3">Enviar</button>
        </div>
        <div class="CommentsList">
          {{#each user.comments }}
            <div calss="CommentsItem">{{this.content}}</div>
          {{/each}}
        </div>
      </div>
      <!--end comments-->

    </div>
  </div>
</div>

<script>
  initMap()
</script>
  
  