<!--<div class="form-group">
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-user"></i></div>
    </div>
    <input type="text" name="name" class="form-control {{#if errors.name}} is-invalid {{/if}}" placeholder="Name"
      value="{{ user.name }}" />
    <div class="invalid-feedback">
      {{ errors.name }}
    </div>
  </div>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-envelope"></i></div>
    </div>
    <input type="text" name="email" class="form-control {{#if errors.email}} is-invalid {{/if}}" placeholder="Email"
      value="{{ user.email }}" {{#if edit }}readonly{{/if}}/>
    <div class="invalid-feedback">
      {{ errors.email }}
    </div>
  </div>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-lock"></i></div>
    </div>
    <input type="password" name="password" class="form-control {{#if errors.password}} is-invalid {{/if}}"
      placeholder="Password" />
    <div class="invalid-feedback">
      {{ errors.password }}
    </div>
  </div>
</div>-->

<div class="Profile__sidebar">
  {{#if session.avatarURL}}
    <img src="{{ session.avatarURL }}" class="Profile__avatar" alt="{{ user.name }}">
  {{/if}}
  <div class="Profile__map"></div>
  <div class="Profile__map-button">Añade tus lugares de paseo</div>
</div>
<input type="text" class="input" name="name" id="name" value="{{ user.name }}">

    <li>{{ users.genre.[1] }} pepe</li>
  <select>
    <option value="">Sexo</option>
    {{#each user.genre}}
      <option value="genre">{{ genre }}</option>
    {{/each}}
  </select>
  <div class="input-radio">
    <input type="radio" id="weight-1" name="weight" checked>
    <label for="weight-1">0kg - 3kg</label>
  </div>
  <div class="input-radio">
    <input type="radio" id="weight-2" name="weight" >
    <label for="weight-2">3kg - 8kg</label>
  </div>
  <div class="input-radio">
    <input type="radio" id="weight-3" name="weight" >
    <label for="weight-3">8kg - 15kg</label>
  </div>
  <div class="input-radio">
    <input type="radio" id="weight-4" name="weight" >
    <label for="weight-4">Más de 15kg</label>
  </div>
  <select>
    <option value="">Raza</option>
    <option value="breed">Mestizo</option>
    <option value="breed">Pastor Alemán</option>
    <option value="breed">San Bernardo</option>
    <option value="breed">Labrador Retriever</option>
    <option value="breed">Golden Retriever</option>
    <option value="breed">Braco de Weimar</option>
    <option value="breed">Border Collie</option>
    <option value="breed">Boxer</option>
    <option value="breed">Schnauzer</option>
    <option value="breed">Bichón Maltés</option>
    <option value="breed">Jack Russell Terrier</option>
  </select>
  <input type="text" placeholder="Edad" value="{{user.age}}" name="age">
  <div class="input-checkbox">
    <input type="checkbox" id="1" class="profile-checkbox" checked>
    <label for="1"></label>
    <span>Ir a pasear</span>
  </div>
  <div class="input-checkbox">
    <input type="checkbox" id="2" class="profile-checkbox">
    <label for="2"></label>
    <span>Ir a pasear</span>
  </div>
  <div class="form-group">
    <div class="custom-file">
      <input type="file" class="custom-file-input" name="avatar" id="avatar">
      <label class="custom-file-label" for="avatar">Choose avatar</label>
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary btn-block">Edit profile</button>
  </div>