<div class="UserList">
  {{#each users as |user|}}
  <a href="/users/{{ user.id }}" class="UserList__item">
    <div class="UserList__item-avatar">
      <img src="{{ user.avatarURL }}" class="Profile__avatar" alt="{{ user.name }}">
    </div>
    <div class="UserList__item-name">{{ user.name }}</div>
    <div class="UserList__item-name">{{ user.city2 }}</div>
  </a>
  {{/each}}
</div>
