<div class="UserList">
  <div class="MainTitle">
    <h1>
      Nuestros peluditos
    </h1>
    <form action="/users" method="GET">
  <div class="form-row">
    <div class="form-group col-10">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-paw"></i></div>
        </div>
        <input type="text" class="form-control" name="name" placeholder="Busca tu amiguete..." value="{{ name }}">
      </div>
    </div>
    <div class="form-actions col-2">
      <button type="submit" class="ButtonSubmit btn btn-block btn-primary">Buscar</button>
    </div>
  </div>
</form>
  </div>
  <div class="UserList__content">
  {{#each users as |user|}}
  <a href="/users/{{ user.id }}" class="UserList__item">
    <div class="UserList__item-avatar">
      <img src="{{ user.avatarURL }}" class="Profile__avatar" alt="{{ user.name }}">
    </div>
    <div class="UserList__item-name">{{ user.name }}</div>
    <div class="UserList__item-city">{{ user.city2 }}</div>
  </a>
  {{/each}}
</div>
  </div>
